<nav class="navbar navbar-light" style="background-color: #006687;">
    <a mat-button routerLink="dashboard" [ngStyle]="{'color':'white','font-size':'20px','margin-right':'50px'}">LTI
        HOMES</a>
    <div class="spacer">
        <a mat-button routerLink="dashboard" [ngStyle]="{'color':'white'}">Home</a>
        <a mat-button routerLink="eligiblity" style="color:white">Eligiblity Calculator</a>
        <a mat-button routerLink="emi" style="color:white">Emi Calculator</a>
        <a mat-button routerLink="userreg" style="color:white">Application Form</a>
        <a mat-button routerLink="adminlogin" style="color:white">Admin Login</a>
        <a mat-button routerLink="userlogin" style="color:white">User LogIn</a>
        <a mat-button routerLink="aboutus" style="color:white">About Us</a>
    </div>
</nav>