<body>
  <div class="about-section">

    <h1>About Us</h1>
    <p><strong>When you have no where else to go,go home</strong>

  </div>

  <h2 style="text-align:center">Team Members</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 style="color:rgba(30, 60, 15, 0.859);">Nitin Saxena</h2>
          <p>nitin.saxena@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2 style="color:rgba(30, 60, 15, 0.859);">Rahul Anand</h2>
          <p>rahul4.anand@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2 style="color:rgba(30, 60, 15, 0.859);">Mathumita S</h2>
          <p>mathumitha.s@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2 style="color:rgba(30, 60, 15, 0.859);">Vikrant Modi</h2>
          <p>Vikrant.Modi@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>